{% set codename = version | default(ansible_lsb.codename) %}
{% set mirror = apt_mirror | default('http://ports.ubuntu.com/ubuntu-ports' if ansible_architecture == 'aarch64' else 'http://archive.ubuntu.com/ubuntu') %}
deb {{ mirror }} {{ codename }} main restricted

deb {{ mirror }} {{ codename }}-updates main restricted

deb {{ mirror }} {{ codename }} universe
deb {{ mirror }} {{ codename }}-updates universe

deb {{ mirror }} {{ codename }} multiverse
deb {{ mirror }} {{ codename }}-updates multiverse

deb {{ mirror }} {{ codename }}-backports main restricted universe multiverse

deb {{ mirror }} {{ codename }}-security main restricted
deb {{ mirror }} {{ codename }}-security universe
deb {{ mirror }} {{ codename }}-security multiverse