- Admin:
    - Cloudflare:
        - icon: cloudflare.png
          href: https://dash.cloudflare.com/
    - Postmark:
        - icon: mdi-email-outline
          href: https://account.postmarkapp.com/servers
    - Tailscale:
        - icon: tailscale.png
          href: https://login.tailscale.com/admin/machines
    - Router:
        - icon: mdi-router-network
          href: http://192.168.50.1/

- Source:
    - GitHub:
        - icon: github.png
          href: https://github.com/batjaa/home-server
    - Plex Token:
        - icon: mdi-key
          href: https://www.plex.tv/claim/

- Service docs:
    - Immich:
        - icon: immich.png
          href: https://immich.app/docs
    - Servarr Wiki:
        - icon: prowlarr.png
          href: https://wiki.servarr.com/
    - LinuxServer images:
        - icon: linuxserver.png
          href: https://docs.linuxserver.io/
