# Top-of-page info widgets
- resources:
    cpu: true
    memory: true
    disk: /
- resources:
    label: storage
    disk: /mnt/storage
- search:
    provider: duckduckgo
    target: _blank
- datetime:
    text_size: xl
    locale: en
    format:
      timeStyle: short
      dateStyle: medium
