# Exact hostname takes precedence over the generic wormmon preview regex.
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name jolly.preview.batjaa.site;
    include /config/nginx/ssl.conf;
    client_max_body_size 8k;
    location / {
        include /config/nginx/proxy.conf;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_pass https://{{ hostvars['wormmon']['ansible_host'] }}:8443;
    }
}
