host: 0.0.0.0
port: 9999
external_host: "{{ stash_external_host }}"
database: "{{ stash_database_path }}"
generated: "{{ stash_generated_path }}"
metadata: "{{ stash_metadata_path }}"
cache: "{{ stash_cache_path }}"
blobs_path: "{{ stash_blobs_path }}"
blobs_storage: FILESYSTEM
nobrowser: true
logOut: true
logLevel: info
calculate_md5: false
video_file_naming_algorithm: "{{ stash_video_file_naming_algorithm | lower }}"
stash:
{% for library_path in stash_library_paths %}
  - path: "{{ library_path.container_path }}"
    excludeVideo: {{ library_path.exclude_video | default(false) | bool | lower }}
    excludeImage: {{ library_path.exclude_image | default(false) | bool | lower }}
{% endfor %}
exclude:
{% for pattern in stash_scan_exclude %}
  - '{{ pattern }}'
{% endfor %}
