[servers]
{% for s in usenet_servers %}
[[{{ s.name }}]]
name = {{ s.name }}
displayname = {{ s.displayname | default(s.name) }}
host = {{ s.host }}
port = {{ s.port | default(563) }}
timeout = {{ s.timeout | default(60) }}
username = {{ s.username }}
password = {{ s.password }}
connections = {{ s.connections | default(20) }}
ssl = {{ s.ssl | default(1) }}
ssl_verify = {{ s.ssl_verify | default(2) }}
ssl_ciphers = ""
enable = {{ s.enable | default(1) }}
required = {{ s.required | default(0) }}
optional = {{ s.optional | default(0) }}
retention = {{ s.retention | default(0) }}
expire_date = ""
quota = ""
usage_at_start = 0
priority = {{ s.priority | default(loop.index0) }}
notes = ""
{% endfor %}
