IMMICH_URL={{ immich_monitor_url }}
IMMICH_EMAIL={{ immich_admin_email }}
IMMICH_PASSWORD={{ immich_admin_password }}
IMMICH_ALERT_PAUSED_QUEUES={{ immich_monitor_alert_paused_queues | join(',') }}
IMMICH_ALERT_EMAIL_TO={{ immich_monitor_email_to }}
IMMICH_ALERT_EMAIL_FROM={{ immich_monitor_email_from }}
